**/debian/debhelper-build-stamp
**/debian/files
**/debian/*.log
**/debian/*.substvars
**/debian/libsuperiormysqlpp-dev/
**/debian/tmp/

*.deb
*.changes
*.buildinfo

*.rpm

*.tar.xz
*.tar.gz

*.odr.cpp

*.d
*.o
*.swp

odr_program
tester
core
libsuperiormysqlpp.pc

