**/debian/*
!debian/control
!debian/changelog
!debian/rules
!debian/compat
!debian/libsuperiormysqlpp-dev.install
!debian/libsuperiormysqlpp.install
!debian/libsuperiormysqlpp.links

*.deb
*.changes

*.rpm

*.tar.xz
*.tar.gz

*.odr.cpp

*.d
*.o
*.swp

odr_program
tester
core
libsuperiormysqlpp.pc

